@using BlazorPeliculas.Utilidades
@inject IJSRuntime JS


<div class="my-4">
    <div class="row g-4 text-center">
        <ListadoGenerico Listado="Peliculas">
            <ErrorBoundary>
                <ChildContent>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="h-100">
                            <PeliculaIndividual Pelicula="context"
                                                @key="context.Id" />
                        </div>
                    </div>

                </ChildContent>
                <ErrorContent Context="error">
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="h-100">
                            <div class="card-body p-2">
                                <div class="fw-semibold">
                                    Error mostrando la película...
                                </div>
                            </div>
                        </div>
                    </div>

                </ErrorContent>
            </ErrorBoundary>
        </ListadoGenerico>
</div>
</div>



@code {
    [Parameter, EditorRequired] public List<Pelicula>? Peliculas { get; set; }
}
