@page "/generos/crear"
@using BlazorPeliculas.Datos
@using BlazorPeliculas.Utilidades
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject IServicioGeneros servicioGeneros
@attribute [Authorize(Roles = "administrador")]

@inject NavigationManager navigationManager

<h3>Crear Género</h3>

<FormularioGenero FormularioPosteadoConExito="formularioPosteadoConExito" 
    PosteoEnCurso="posteoEnCurso"
                  OnValidSubmit="Crear" Genero="genero" />

@code {
    private Genero genero = null!;

    private bool posteoEnCurso = false;
    private bool formularioPosteadoConExito = false;

    protected override void OnInitialized()
    {
        genero = new Genero();
    }

    private async Task Crear()
    {
        if (!posteoEnCurso)
        {
            posteoEnCurso = true;
            StateHasChanged();
            await Task.Yield();

            await servicioGeneros.Crear(genero);

            posteoEnCurso = false;
            formularioPosteadoConExito = true;
            StateHasChanged();
            navigationManager.NavigateTo("/generos");
        }
    }





}
