<img src="@Pelicula.PosterURL" class="img-fluid mb-2 w-100" style="height: 300px">
<div class="card-body p-2">
    <div class="fw-semibold">
        @Pelicula.Titulo
    </div>
</div>


@code {
    [Parameter, EditorRequired] public required Pelicula Pelicula { get; set; }
}
