@page "/actores"
@inject IServicioActores servicioActores

<h3>Indice Actores</h3>

<div>
    <BPLink Href="/actores/crear">
        Crear Actor
    </BPLink>
</div>

<ListadoGenerico Listado=@actores>
    <HayRegistrosCompleto>
        <Paginacion PaginaActual="paginaActual"
                    CantidadTotalRegistros="cantidadTotalRegistros"
                    RegistrosPorPagina="registrosPorPagina"
                    PaginaSeleccionada="PaginaSeleccionada"></Paginacion>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var actor in actores!)
                {
                    <tr @key="actor.Id">
                        <td>
                            <BPLink Href="@($"/actores/editar/{actor.Id}")">Editar</BPLink>
                            <BPBoton OnClick="() => BorrarActor(actor.Id)"
                                     Variante="Variante.Error"
                                     MensajeConfirmacion="@($"¿Desea borrar al actor {actor.Nombre}?")">Borrar</BPBoton>

                        </td>
                        <td>@actor.Nombre</td>
                    </tr>
                }
            </tbody>
        </table>

    </HayRegistrosCompleto>
</ListadoGenerico>

@code {
    private IEnumerable<Actor>? actores = null;
    private int paginaActual = 1;
    private int registrosPorPagina = 10;
    private int cantidadTotalRegistros;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        await Task.Yield();
        await Cargar();
        StateHasChanged();
    }

    private async Task Cargar(int pagina = 1)
    {
        var paginacionDTO = new PaginacionDTO(pagina, registrosPorPagina);
        var resultadoPaginado = await servicioActores.Obtener(paginacionDTO);
        actores = resultadoPaginado.Elementos;
        cantidadTotalRegistros = resultadoPaginado.CantidadTotalRegistros;
    }

    private async Task PaginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await Cargar(pagina);
    }

    private async Task BorrarActor(int id)
    {
        await servicioActores.Borrar(id);
        await Cargar();
    }
}
